{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>投稿フォーム</title>
    <link rel="stylesheet" href="{% static 'diary/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'diary/style.css' %}" />
    <link rel="stylesheet" href="{% static 'account/inc.css' %}" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="{% static 'diary/js/valid.js' %}"
    ></script>
  </head>
  <body>
    <!-- ヘッダーエリア -->
    {% include 'diary/header.html' %}
    <!-- メインエリア -->
    <main class="main">
      <form method="post" action="/diary/form">
        {% csrf_token %}
        <ul class="form_list">
          <li class="name">
            {{ formName.user_name.errors }} {{nameForm}}
            <span id="name-error-message"
              >名前は1文字以上、10文字以内にして下さい</span
            >
          </li>
          <li class="category">
            <label for="categories">カテゴリー：</label>
            <select name="category_id" id="categories">
              {% for category in categories %}
              <option value="{{category.id}}"
                >{{category.category_text}}</option
              >
              {% endfor %}
            </select>
          </li>
          <li class="article">
            {{ formDiary.article.errors }} {{diaryForm}}
            <span id="article-error-message"
              >記事は700文字以内でお願いします</span
            >
          </li>
          <li class="button">
            <button id="btn" type="submit">送信</button>
          </li>
        </ul>
      </form>
    </main>
    <!-- フッターエリア -->
    {% include 'diary/footer.html' %}
  </body>
</html>
