{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>投稿フォーム</title>
    <link rel="stylesheet" href="{% static 'diary/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'diary/style.css' %}" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- ヘッダーエリア -->
    {% include 'diary/header.html' %}
    <!-- メインエリア -->
    <main class="main">
      <form method="post" action="/diary/form">
        {% csrf_token %}
        <ul class="form_list">
          <li class="name">
            <!-- <label for="user_name">名前：</label>
            <input type="text" id="user_name" name="name" /> -->
            {{ formName.user_name.errors }} {{nameForm}}
          </li>
          <li class="category">
            <label for="categories">カテゴリー：</label>
            <select name="category_id" id="categories">
              {% for category in categories %}
              <option value="{{category.id}}"
                >{{category.category_text}}</option
              >
              {% endfor %}
            </select>
          </li>
          <li class="article">
            <!-- <textarea
              name="article"
              placeholder="ここに記事を書いてください"
            ></textarea> -->
            {{ formDiary.article.errors }} {{diaryForm}}
          </li>
          <li class="button">
            <button type="submit">送信</button>
          </li>
        </ul>
      </form>
    </main>
    <!-- フッターエリア -->
    {% include 'diary/footer.html' %}
  </body>
</html>
