{% load static %}
<footer>
  <!-- アンダーナビゲーション -->
  <nav class="under_nav">
    <ul class="under_menu">
      <li class="under_item">
        <a href="/diary"
          ><i class="fas fa-home"></i>
          <p>ホーム</p></a
        >
      </li>
      <li class="under_item">
        <a href="/diary/create"
          ><i class="fas fa-paper-plane"></i>
          <p>投稿</p></a
        >
      </li>
      <li id="search-drawer" class="under_item">
        <input id="search-input" type="checkbox" class="search-unshown" />
        <label id="search-open" for="search-input"
          ><i class="fas fa-search"></i>
          <p>検索</p>
        </label>
        <label
          class="search-unshown"
          id="search-close"
          for="search-input"
        ></label>

        <div id="search-content">
          <form
            action="/diary/search"
            method="post"
            class="search_form"
            name=""
          >
            {% csrf_token %}
            <input
              type="search"
              name="search"
              placeholder="キーワードを入力"
              maxlength="30"
            />
            <button type="submit">検索</button>
          </form>
        </div>
      </li>
      <li class="under_item">
        <a href=""
          ><i class="fas fa-user"></i>
          <p>プロフィール</p></a
        >
      </li>
    </ul>
  </nav>
</footer>
