{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>社会人大学</title>
    <link rel="stylesheet" href="{% static 'diary/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'diary/style.css' %}" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- ヘッダーエリア -->
    <header class="header">
      <!-- ハンバーガーエリア -->
      <div class="ham">
        <input class="ham_checkbox" id="hamCheckbox" type="checkbox" />
        <!-- ハンバーガーアイコン -->
        <label class="ham_icon" for="hamCheckbox">
          <span class="icon_parts1"></span>
          <span class="icon_parts2"></span>
          <span class="icon_parts3"></span>
          <p class="icon_name">menu</p>
          <p class="icon_name2">close</p>
        </label>
        <!-- 背景を暗く -->
        <label class="ham_overlay" for="hamCheckbox"></label>
        <!-- ハンバーガーメニュー -->
        <nav class="ham_menu">
          <ul>
            <li class="ham_item">
              <a href="/">朝礼日誌</a>
            </li>
            <li class="ham_item">
              <a href="/">日記</a>
            </li>
            <li class="ham_item">
              <a href="/">学則</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="logo">
        <a href=""><img src="{% static 'diary/logo.png' %}" alt="" /></a>
      </div>
    </header>

    <!-- メインエリア -->
    <main class="main">
      <!-- 投稿１ -->
      <div class="contentBox" name="contentBox">
        <a href="">
          <span class="contentHeader" name="contentHeader">
            <label>日直 長谷川海斗</label>
          </span>
          <div class="contentBody" name="contentBody">
            みなさんおはようございます😁<br />
            本日の日直当番は、引越し回数が多い長谷川です‼️<br />
            本日は月曜ということで、...
          </div>
          <div class="userResult">
            <i class="far fa-heart">２</i>
            <i class="far fa-comment-alt">４</i>
          </div>
          <div class="contentOption" name="contentOption">
            <span class="uploadTime" name="uploadTime">
              10:24
            </span>
          </div>
        </a>
      </div>
      <!-- 投稿２ -->
      <div class="contentBox" name="contentBox">
        <a href="">
          <span class="contentHeader" name="contentHeader">
            <label>日直 高松まさや</label>
          </span>
          <div class="contentBody" name="contentBody">
            皆さんおはようございます😁<br />
            本日から日直が朝の挨拶をするようにしたいと思います✨<br />
            朝からやる気を少しでも上げれたらいいなと...
          </div>
          <div class="userResult">
            <i class="far fa-heart">２</i>
            <i class="far fa-comment-alt">４</i>
          </div>
          <div class="contentOption" name="contentOption">
            <span class="uploadTime" name="uploadTime">
              10:24
            </span>
          </div>
        </a>
      </div>

      <p style="margin-top: 100vh;">sample</p>
      <p style="margin-top: 200vh;">sample</p>
      <p style="margin-top: 300vh;">sample</p>
    </main>

    <footer>
      <!-- アンダーナビゲーション -->
      <nav class="under_nav">
        <ul class="under_menu">
          <li class="under_item">
            <a href=""
              ><i class="fas fa-home"></i>
              <p>ホーム</p></a
            >
          </li>
          <li class="under_item">
            <a href=""
              ><i class="fas fa-paper-plane"></i>
              <p>投稿</p></a
            >
          </li>
          <li class="under_item">
            <a href=""
              ><i class="fas fa-search"></i>
              <p>検索</p></a
            >
          </li>
          <li class="under_item">
            <a href=""
              ><i class="fas fa-user"></i>
              <p>プロフィール</p></a
            >
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
