{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>社会人大学</title>
    <link rel="stylesheet" href="{% static 'diary/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'diary/style.css' %}" />
    <link rel="stylesheet" href="{% static 'account/inc.css' %}" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- ヘッダーエリア -->
    {% include 'diary/header.html' %}
    <!-- メインエリア -->
    <main class="main">
      <!-- 投稿１ -->
      <!-- 日誌の数により、ループを作成 -->
      {% if diaries|length == 0%} {% if from == 'index' %}
      <div class="contentBox" name="contentBox">日誌はありません</div>
      {% elif from == 'search'%}
      <div class="contentBox" name="contentBox">検索でヒットしませんでした</div>
      {%endif%} {% else %} {% for diary in diaries %}
      <div class="contentBox" name="contentBox">
        <a href="{% url 'show' diary.id  %}">
          <span class="contentHeader" name="contentHeader">
            <label>{{diary.title}}　{{diary.writer_name}}</label>
          </span>
          <div class="contentBody" name="contentBody">
            {{diary.diary|truncatechars:30 | linebreaksbr}}
          </div>
          <div class="userResult">
            <i class="far fa-heart">２</i>
            <i class="far fa-comment-alt"> {{diary.comment_number}}</i>
          </div>
          <div class="contentOption" name="contentOption">
            <span class="uploadTime" name="uploadTime">
              {{diary.create_day|date:"Y年n月j日g時m分"}}
            </span>
          </div>
        </a>
      </div>
      {% endfor %} {% endif %}
      <!-- 
      <p style="margin-top: 100vh;">sample</p>
      <p style="margin-top: 200vh;">sample</p>
      <p style="margin-top: 300vh;">sample</p> -->
    </main>
    <!-- フッターエリア -->
    {% include 'diary/footer.html' %}
  </body>
</html>
