{% load static %}
<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>詳細ページ</title>
    <link rel="stylesheet" href="{% static 'diary/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'diary/style.css' %}" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- ヘッダーエリア -->
    <header class="header">
      <!-- ハンバーガーエリア -->
      <div class="ham">
        <input class="ham_checkbox" id="hamCheckbox" type="checkbox" />
        <!-- ハンバーガーアイコン -->
        <label class="ham_icon" for="hamCheckbox">
          <span class="icon_parts1"></span>
          <span class="icon_parts2"></span>
          <span class="icon_parts3"></span>
          <p class="icon_name">menu</p>
          <p class="icon_name2">close</p>
        </label>
        <!-- 背景を暗く -->
        <label class="ham_overlay" for="hamCheckbox"></label>
        <!-- ハンバーガーメニュー -->
        <nav class="ham_menu">
          <ul>
            <li class="ham_item">
              <a href="/">朝礼日誌</a>
            </li>
            <li class="ham_item">
              <a href="/">日記</a>
            </li>
            <li class="ham_item">
              <a href="/">学則</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="logo">
        <a href=""><img src="{% static 'diary/logo.png' %}" alt="" /></a>
      </div>
    </header>

    <!-- メインエリア -->
    <main class="main">
      <!-- 投稿 -->
      <section class="contentBox">
        <div class="contentHead">
          <h2>{{diary.writer_name}}【日直】</h2>
          <span class="uploadTime"
            >{{diary.create_day|date:"Y年n月j日g時m分"}}</span
          >
        </div>
        <p class="contentBody">
          {{diary.diary | linebreaksbr}}
        </p>
        <div class="userResult">
          <i class="far fa-heart">２</i>
          <i class="far fa-comment-alt"> {{diary.comment_number}}</i>
        </div>
      </section>

      <section class="comment_form">
        <form method="post" action="commentform/{{diary.id}}">
          {% csrf_token %}
          <ul class="comment_list">
            <li class="comment_name">
              <!-- <label for="commenter">名前</label>
              <input type="text" id="commenter" name="name" /> -->
              {{nameForm}}
            </li>
            <li class="comment_word">
              <!-- <textarea name="comment" placeholder="コメント"></textarea> -->
              {{commentForm}}
            </li>
            <li class="cbutton">
              <button type="submit">送信</button>
            </li>
          </ul>
        </form>
      </section>
      {% for comment in comments %}
      <div class="comment">
        <div class="commentBox">
          <div class="commentWrap">
            <h3 class="commentHead">{{comment.commenter_name}}</h3>
            <p class="commentBody">{{comment.comment}}<br /></p>
          </div>
          <span class="commentTime"
            >{{comment.create_day|date:"Y年n月j日g時m分"}}</span
          >
        </div>
      </div>
      {% endfor %}

      <!-- <li id="search-drawer" class="under_item">
        <input id="search-input" type="checkbox" class="search-unshown">
        <label id="search-open" for="search-input"><i class="fas fa-search"></i>検索
        </label>
        <label class="search-unshown" id="search-close" for="search-input"></label>

        <div id="search-content">
          <form action="" method="post" class="search_form">
            <input type="search" name="search" placeholder="キーワードを入力">
            <button type="submit">検索</button>
           </form>
        </div>
      </li> -->

      <!-- <li class="under_item">
        <a href=""
          ><i class="fas fa-search"></i>
          <p>検索</p></a
        >
      </li> -->
    </main>

    <footer>
      <!-- アンダーナビゲーション -->
      <nav class="under_nav">
        <ul class="under_menu">
          <li class="under_item">
            <a href="/diary"
              ><i class="fas fa-home"></i>
              <p>ホーム</p></a
            >
          </li>
          <li class="under_item">
            <a href="/diary/create"
              ><i class="fas fa-paper-plane"></i>
              <p>投稿</p></a
            >
          </li>
          <li id="search-drawer" class="under_item">
            <input id="search-input" type="checkbox" class="search-unshown" />
            <label id="search-open" for="search-input"
              ><i class="fas fa-search"></i>
              <p>検索</p>
            </label>
            <label
              class="search-unshown"
              id="search-close"
              for="search-input"
            ></label>

            <div id="search-content">
              <form action="" method="post" class="search_form">
                <input
                  type="search"
                  name="search"
                  placeholder="キーワードを入力"
                />
                <button type="submit">検索</button>
              </form>
            </div>
          </li>
          <li class="under_item">
            <a href=""
              ><i class="fas fa-user"></i>
              <p>プロフィール</p></a
            >
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
