{% load static %}
<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>詳細ページ</title>
    <link rel="stylesheet" href="{% static 'diary/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'diary/style.css' %}" />
    <link rel="stylesheet" href="{% static 'account/inc.css' %}" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <script
      type="text/javascript"
      src="{% static 'diary/js/valid.js' %}"
    ></script>
  </head>
  <body>
    <!-- ヘッダーエリア -->
    {% include 'diary/header.html' %}
    <!-- メインエリア -->
    <main class="main">
      <!-- 投稿 -->
      <section class="contentBox">
        <div class="contentHead">
          <h2>{{diary.writer_name}}【日直】</h2>
          <span class="uploadTime"
            >{{diary.create_day|date:"Y年n月j日g時m分"}}</span
          >
        </div>
        <p class="contentBody">
          {{diary.diary | linebreaksbr}}
        </p>
        <div class="userResult">
          <i class="far fa-heart">２</i>
          <i class="far fa-comment-alt"> {{diary.comment_number}}</i>
        </div>
      </section>

      <section class="comment_form">
        <form method="post" action="commentform/{{diary.id}}">
          {% csrf_token %}
          <ul class="comment_list">
            <li class="comment_name">
              <!-- <label for="commenter">名前</label>
              <input type="text" id="commenter" name="name" /> -->
              {{nameForm}}
              <spam id="name-error-message">名前は1文字以上、10文字以内にして下さい</span>
            </li>
            <li class="comment_word">
              <!-- <textarea name="comment" placeholder="コメント"></textarea> -->
              {{commentForm}}
              <span id="article-error-message">コメントは700文字以内でお願いします</span>
            </li>
            <li class="cbutton">
              <button id="btn" type="submit">送信</button>
            </li>
          </ul>
        </form>
      </section>
      {% for comment in comments %}
      <div class="comment">
        <div class="commentBox">
          <div class="commentWrap">
            <h3 class="commentHead">{{comment.commenter_name}}</h3>
            <p class="commentBody">{{comment.comment}}<br /></p>
          </div>
          <span class="commentTime"
            >{{comment.create_day|date:"Y年n月j日g時m分"}}</span
          >
        </div>
      </div>
      {% endfor %}
    </main>
    <!-- フッターエリア -->
    {% include 'diary/footer.html' %}
  </body>
</html>
