{% load static %}
<html>　

 <!doctype html>
    <head>
     <meta charset="utf-8">
     <link rel="stylesheet" href="{% static 'rules/css/reset.css' %}" />
     <link rel="stylesheet" href="{% static 'rules/css/rule.css' %}" />
     <title> </title>
    </head>
  </html>

  
  
  <body>
      <header>
        
      </header>
      

    <div class="rule_main">

     <div class="rule_copy-container">
      <h1>『最高の喜び方』</h1>
      
        

       </div>

    </div>

    <div class="rule_flex-box">
      <img src="{% static 'rules/images/rule.png' %}">
      <ol>
        <li>聴く力</li>
        <li>考える</li>
        <li>アクション</li>
        <li>人間力</li>
        <li>楽しむ</li>
      </ol>
      </div>


    <div class="rule_copy-container">
      <h2>JOB-ZOOコミュニティー式<br>喜び方5ヶ条</h2>
      <h3></h3>
      
      <h4>
        
       <br>
       <br>
       
      </h4>
      
    </div>

    <div class="rule_contents">
      <h5>聴く力</h5>
       
      <h6><br>この場所に参加していいんだ。という認められる感覚か安心感へとつながります。
        <br>
        そして安心できる場には積極的に参加しようと思えます。挑戦しやすくなるのです。いい人に思われたいからほめるのではありません。互いに存在を認め合い、ばの情報量を増やすために積極的にほめましょう。
      </h6>
      <h5>考える</h5>
      <h6><br>聴くは「受信」行為ではありません。「あなたの話を聴いていますよ」という行為が相手に伝わって初めて成り立つ「発信」です
        <br>
        発信者として聴く。という意識を持ち、うなずくや身体を発言者に向けるなど、工夫をしましょう。
      </h6>
      <h5>アクション</h5>
      <h6><br>発言に接したとき、「それはダメだね」「バカみたい」など即否定することはやめてください。これが続くと「ここでは何を言っても無駄だ」と口を閉ざしてしまい「学習されたあきらめ」状態となります。「なるほどね！（Yes！）」「そうゆう考えなんだね（Yes！）」など、まず受け止める。受容と肯定は違いますから、安心してYesと言います。その上で、「でもこういう点は調べたの？（but…）」と指摘する、Yes!but…で話しましょう。</h6>
      <h5>人間力</h5>
      <h6><br>考えながら答えるとき、人は「えーーー」といいながら遠くを見たり、押し黙ったりします。
        <br>
        ほとんどの人は対応する立場として親切心から「それはこういうことですか？」など口を挟みます。
        <br>
        これはやめましょう。なぜなら、どう言ったら良いかななど自らの力で答えを探している思考トレーニングしてるのです。わたしたちはこれを生産的沈黙と呼んでいます。思考の時間を尊重しましょう。
      </h6>
      <h5>楽しむ</h5>
      <h6><br>何か物事を成し遂げようしたり、目的に向かって一歩を積み重ねたり、夢中になっているときは、苦しさや楽しさなどまったく関係なく、集中しています。集中するということが一番大切なのです
        <br>
        あらかじめ決まった未来があるのではなく、未来をつくる立場で、わたしたちは日々成長に臨んでいきます。関わり続けることが重要です。そのためにすべてを安らいで愉快に扱っていきましょう。
      </h6>
 
    </div>


    
     



  </body>


    



 </div>


 </html>
