@charset "utf-8";
/* メイン */
.main {
  padding: 85px 0 200px;
  background-color: #eaeaea;
}
.contentBox {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 5px 10px;
  margin-bottom: 2px;
  position: relative;
}
.contentHead {
  display: flex;
  align-items: center;
}
.contentHead h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 25px 0 0 10px;
}
.uploadTime {
  position: absolute;
  top: 11px;
  right: 11px;
}

/* create */

.form_list {
  text-align: center;
  font-size: 16px;
}
.name input,
.article textarea,
.comment_name input,
.comment_word textarea {
  appearance: none;
  -webkit-appearance: none;
  outline: 0;
  font-size: inherit;
  font-family: inherit;
  background: #fafafa;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 10px;
  width: 60%;
  height: 35px;
}
.name input:focus,
.article textarea:focus,
.comment_name input:focus,
.comment_word textarea:focus {
  background: #ffffff;
  outline: 0;
  border: 2px solid #83b9e4;
}
.article textarea {
  width: 95%;
  height: 50vh;
  resize: none;
  border-radius: 25px;
}
/* show */
.comment_name input {
  width: 70%;
}
.comment_word textarea {
  width: 100%;
  height: 45px;
  margin: 5px 0;
  resize: none;
  border-radius: 25px;
}

.category {
  margin: 15px 0;
}
.category select {
  font-size: inherit;
  font-family: inherit;
  background: #fafafa;
  border: 1px solid #cccccc;
  border-radius: 3px;
  height: 35px;
  outline: 0;
}
.category select:focus {
  background: #ffffff;
  outline: 0;
  border: 2px solid #83b9e4;
}

.button button,
.cbutton button {
  color: #333;
  margin-top: 25px;
  padding: 7px 0 7px 13px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #83b9e4;
  width: 100px;
  letter-spacing: 13px;
  font-size: inherit;
}
/* show */
.cbutton #btn {
  margin-top: 0;
}

/* show */
.comment_form {
  margin: 20px 20px 30px;
  font-size: 16px;
}

.contentBody {
  margin-top: 10px;
  line-height: 1.6;
}
.uploadTime {
  color: #898989;
  font-size: 1.5rem;
}
.userResult {
  text-align: right;
  margin-top: 10px;
}
.comment {
  margin: 10px;
}
.commentBox {
  display: inline-block;
}
.commentWrap {
  display: inline-block;
  background-color: #fff;
  line-height: 1.5;
  border-radius: 10px;
  padding: 5px 8px;
}
.commentHead {
  font-weight: bold;
}
.commentTime {
  text-align: right;
  display: block;
  font-size: 1.4rem;
  margin-top: 5px;
}

/* inputのborderの色 */
.success {
  border: 2px solid #83b9e4;
}

.error {
  border: 2px solid red;
}

/* エラーメッセージの非表示 */
#name-error-message,
#article-error-message {
  display: none;
  color: red;
  font-size: 1.3rem;
}
