@charset "utf-8";

/* ベース */
html {
  font-size: 62.5%;
}
body {
  color: #383838;
  font-size: 1.6rem;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体",
    "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ",
    "Meiryo", "verdana", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #333;
}
.hidden {
  display: none;
}

/*ヘッダー*/
.header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
}

/*ハンバーガー*/
.ham {
  position: relative;
}

.ham_checkbox {
  display: none;
}

.ham_icon {
  cursor: pointer;
  display: block;
  width: 55px;
  height: 50px;
  position: fixed;
  left: 0;
}

.ham_icon .icon_parts1,
.ham_icon .icon_parts2,
.ham_icon .icon_parts3 {
  background-color: #000;
  display: block;
  width: 25px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.ham_icon .icon_parts1 {
  top: 16px;
}

.ham_icon .icon_parts3 {
  top: -16px;
}

.ham_icon .icon_name,
.ham_icon .icon_name2 {
  position: absolute;
  top: 38px;
  left: 13px;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ham_icon .icon_name2 {
  display: none;
}

.ham_overlay {
  background: #000;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

.ham_menu {
  background: #ffffff;
  color: #000;
  max-width: 100%;
  width: 220px;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  left: -220px;
}

.ham_menu ul {
  margin-top: 100px;
}

.ham_icon {
  z-index: 4;
}

.ham_menu {
  z-index: 3;
}

.ham_overlay {
  z-index: 2;
}

.ham_checkbox:checked ~ .ham_icon .icon_parts1 {
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
  top: 0;
}

.ham_checkbox:checked ~ .ham_icon .icon_parts2 {
  left: 250%;
  opacity: 0;
}

.ham_checkbox:checked ~ .ham_icon .icon_parts3 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(405deg);
  transform: rotate(405deg);
  top: 0;
}

.ham_checkbox:checked ~ .ham_icon .icon_name {
  display: none;
}

.ham_checkbox:checked ~ .ham_icon .icon_name2 {
  display: block;
}

.ham_checkbox:checked ~ .ham_overlay {
  opacity: 0.3;
  pointer-events: auto;
}

.ham_checkbox:checked ~ .ham_menu {
  left: 0;
}

.ham .icon_parts1,
.ham .icon_parts2,
.ham .icon_parts3,
.ham .icon_name,
.ham .icon_name2,
.ham_overlay,
.ham_menu {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* ハンバーガーメニューの中身*/
.ham_item {
  font-size: 1.8rem;
  line-height: 3;
  padding-left: 20px;
}
.ham_item a {
  color: #333;
  text-decoration: underline;
}

/* ロゴ */
.logo {
  text-align: center;
  padding-top: 10px;
}
.logo img {
  width: 180px;
}

/* メイン */
.main {
  padding: 85px 0 200px;
  background-color: #eaeaea;
}
.contentBox {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 2px;
  position: relative;
}
.contentHead {
  display: flex;
  align-items: center;
}
.contentHead h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 25px 0 0 10px;
}
.uploadTime {
  position: absolute;
  top: 11px;
  right: 11px;
}
.contentBody {
  margin-top: 10px;
  line-height: 1.6;
}
.allTextBtton,
.uploadTime {
  color: #898989;
  font-size: 1.5rem;
}
.userResult {
  text-align: right;
  margin-top: 10px;
}

/* show */

.comment {
  margin: 10px;
}
.commentBox {
  display: inline-block;
}
.commentWrap {
  display: inline-block;
  background-color: #fff;
  line-height: 1.5;
  border-radius: 10px;
  padding: 5px 8px;
}
.commentHead {
  font-weight: bold;
}
.commentTime {
  text-align: right;
  display: block;
  font-size: 1.4rem;
  margin-top: 5px;
}

/* create */

.form_list {
  text-align: center;
}
.name input {
  letter-spacing: 1px;
  width: 180px;
  height: 25px;
}
.category {
  margin: 15px 0;
}
.category select {
  height: 28px;
}
.article textarea {
  font-size: 1.5rem;
  letter-spacing: 1px;
  width: 95%;
  height: 45vh;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体",
    "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ",
    "Meiryo", "verdana", sans-serif;
}

.button button {
  color: #333;
  font-size: 1.4rem;
  letter-spacing: 5px;
  margin-top: 35px;
  padding-left: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(150, 201, 245);
  box-shadow: 2px 2px 1px rgb(117, 158, 181);
  width: 90px;
  height: 35px;
}

/* フッター */
.footer {
  z-index: 100;
}
.under_nav {
  width: 100%;
  height: 75px;
  bottom: 0;
  position: fixed;
  padding: 0 10px;
  background-color: #fff;
}
.under_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 13px;
}

.under_item {
  width: 60px;
}
.under_item p {
  font-size: 1rem;
  line-height: 2;
}
.under_item a {
  color: rgb(99, 99, 99);
}
.under_item i {
  font-size: 2.5rem;
}
